.taskItem {
  border: 1px solid white;
  border-radius: 5px;
  width: 350px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  margin: 20px;
}

.taskItem h3 {
  margin-bottom: 5px;
}

.taskItem button {
  margin: 5px;
  margin-top: -5px;
  border-radius: 2px;
}
